*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: black;
    text-align: center;
}

p{
    text-align: center;
    text-align: justify;
    font-size: large;
    
}


img{
    display: block;
    margin: auto;
    border: 3px solid black;

}


.inicio{
   background-color: rgb(248, 170, 170); 
}
.tradiciones{
    background-color: none;
}
body{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(199, 248, 232);
    
}

.contenedor{
    width: 100%;
   
}